body{
    background-image: url(../images/b.jpg) ;
    background-size: cover;
}
.wrapper {
    display: none;

}


.jumbotron{
    padding: 200px;
    margin: 100px;
    background-image:url(../images/btnBackground.jpg);
    background-size: cover;
    background-position: center; 
    background-position-x: right;
     background-position-y: bottom; 
    
}

.form{
    font-size: 25px;
    margin-left: 200px;
    align-content: center
}

.header{
    text-align: center;
}

h2{
    text-align: center;
}



